body { 
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

.header { 
    display: flex;  
    background-color: bisque;
    align-items: center;
}

.left-header { 
    justify-content: center;
    width: 600px;
    padding: 10px 30px;
    align-items: center;
    display: flex;
}

.right-header { 
    justify-content: flex-end;
    width: 600px;
    display: flex;
    align-items: center;    
}

#login { 
    margin-right: 30px;  
    font-weight: 600;  
}

#join-us { 
    margin-right: 30px;   
    color: white;
    background-color: rgb(116, 185, 12);
    padding: 8px 20px;
}

.banner { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.nina { 
    display: flex;
    position: relative;
}